body {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    background: linear-gradient(#90fcba, white);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.maintxt {
    display: flex;
    font-size: 7vw;
    justify-content: center;
    font-weight: 600;
    color: #0412dc;
    width: 100vw;
    line-height: 7.5vw;
}

.maintxt p {
    padding-right: 12vw;
    margin: 0;
}

.maintxt img {
    width: 7vw;
    height: 17vh;
    padding-top: 0.8rem;
}

.m2, .left, .right {
    transform: scale(-1, 1);
}

.layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.layout img {
    padding-right: 60vw;
    width: 40vw;
    position: absolute;
    bottom: 30vh;
}

#ds {
    padding-right: 58vw;
    color: #0412dc;
    font-size: 1.2vw;
    word-break: keep-all;
    position: absolute;
    left: 15vw;
    top: -7.5vh;
    font-weight: 500;
    margin: 0;
}

.canvas-container {
    position: absolute;
    left: 50%;
    transform: calc(50%);
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    height: 63vh;
}

canvas {
    background-color: white;
    cursor: crosshair;
    width: 35vw;
    height: 55vh;
    position: absolute;
    left: 0;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0412dc;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

@keyframes unfold {
    0% {
        transform: scaleX(0);
        opacity: 0;
    }
    10% {
        transform: scaleX(10%);
        opacity: 0.1;
    }
    20% {
        transform: scaleX(20%);
        opacity: 0.2;
    }
    30% {
        transform: scaleX(30%);
        opacity: 0.3;
    }
    40% {
        transform: scaleX(40%);
        opacity: 0.4;
    }
    50% {
        transform: scaleX(50%);
        opacity: 0.5;
    }
    60% {
        transform: scaleX(60%);
        opacity: 0.6;
    }
    70% {
        transform: scaleX(70%);
        opacity: 0.7;
    }
    80% {
        transform: scaleX(80%);
        opacity: 0.8;
    }
    90% {
        transform: scaleX(90%);
        opacity: 0.9;
    }
    100% {
        transform: scaleX(1);
    }
}

.mirrored-canvas {
    transform-origin: right;
    animation: unfold 0.4s ease forwards;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 35vw;
    margin-top: 3vh;
    position: absolute;
    left: 0;
    bottom: 0;
}

.brushBtn {
    margin: 0 5px;
    padding: 1vw 1vh;
    background-color: white;
    border-color: #0412dc;
    border-width: 2px;
    border-style: solid;
    color: #0412dc;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 5px;
}

#mirrorBtn {
    padding: 1vw 1vh;
    background-color: white;
    border-color: #0412dc;
    border-width: 2px;
    border-style: solid;
    color: #0412dc;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 5px;
    margin: 0 6vw 0 0;
}

#saveBtn {
    padding: 1vw 1vh;
    background-color: white;
    border-color: #0412dc;
    border-width: 2px;
    border-style: solid;
    color: #0412dc;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 5px;
    margin: 0 6vw 0 0;
}

#mirrorBtn2 {
    padding: 1vw 1vh;
    background-color: white;
    border-color: #0412dc;
    border-width: 2px;
    border-style: solid;
    color: #0412dc;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 5px;
    margin: 0 6vw 0 0;
}

#mirrorBtn3 {
    padding: 1vw 1vh;
    background-color: white;
    border-color: #0412dc;
    border-width: 2px;
    border-style: solid;
    color: #0412dc;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 5px;
    margin: 0 6vw 0 0;
}

#colorPicker {
    margin: 0 10px;
    padding: 5px;
    width: 80px;
    height: 35px;
    border: none;
    cursor: pointer;
}

.btn-left {
    position: absolute;
    right: 50%;
    top: 20%;
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 63vh;
    align-items: flex-end;
}

#rainbowBrushBtn {
    margin: 0 10px;
    padding: 5px;
    width: 80px;
    height: 30px;
    background-color: #0412dc;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

#speechBubble {
    position: absolute;
    left: 20vw;
    top: 49vh;
    background: white;
    border-radius: 100%;
    width: 20vw;
    height: 25vh;
    text-align: center;
    font-size: 2vw;
    animation: ani 1s infinite alternate;
}

#speechBubble p {
    padding-top: 5vh;
}

#speechBubble:after {
    content: '';
    position: absolute;
    top: 50%;
    left: -5vw;
    border-right: 7vw solid white;
    border-top: 2vw solid transparent;
    border-bottom: 2vw solid transparent;
    transform: translateY(-50%);
}

@keyframes ani {
    0% { transform: translate(0, 0); }
    100% { transform: translate(0, 50px); }
}

@keyframes ani2 {
    0% { transform: translate(0, 0); }
    100% { transform: translate(0, -2vh); }
    0% { transform: scale(1.0); }
    100% { transform: scale(2.0); }
}

#finish {
    color: #0412dc;
    display: none;
    position: absolute;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    z-index: 1;
    top: 58%;
    font-size: 3vw;
    padding: 0;
    margin: 0;
    left: 36.5%;
    animation: ani2 1s infinite alternate;
}
